main {
    width: 600px;
    margin-left: auto;margin-right: auto;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#menu {
    margin-bottom: 15px;
    margin-right: auto;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
}

#menu td {
    cursor: pointer;
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    border: 1px solid black;
    padding: 5px;
}

#score {
    margin-top: 15px;
    font-size: 18px; font-weight: bold;
    text-align: left;
}

#score > ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 16px; font-weight: normal;
    padding-left: 0;
    margin: 0;
}

#score > ul > li {
    display:inline-block;
    vertical-align: top;
    text-align: right;
}

#scoreHead {
    margin-right: 50px;
}

#score > ul > li > ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 40px;
    counter-reset: scoreCounter;
}

#score > ul > li > ul > li::before {
    counter-increment: scoreCounter;
    content: counter(scoreCounter) ".";
    position: absolute;
    right: 48px;
    width: 20px;
}

#score > ul > li > ul > li {
    position: relative;
}

#function-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    grid-column-start: 1; grid-column-end: var(--functionColumnEnd); 
    grid-row-start: 1; grid-row-end: 4; 
    background-color: lightslategray;
}

#restMineNumber {
    font-size: 0px;
    width: 51px;
    height: 32px;
    padding-left: 10px;
}

#timer {
    font-size: 0px;
    width: 51px;
    height: 32px;
    padding-right: 10px;
}

#grid {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(var(--gridTemplateRows), 20px);
    grid-template-columns: repeat(var(--gridTemplateColumns), 20px);
}

#grid > img, #function-box > img {
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

.digit {
    background-repeat: no-repeat;
    background: url("./img/digits.png");
    background-position: calc(var(--bgPosition) * -18px) 0;
    width: 17px;
    height: 32px;
}
