main {
    width: max-content;
    margin-left: auto; margin-right: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#menu {
    margin-left: 0px; margin-bottom: 10px;
    text-align: center;
    border-collapse: collapse;
    border-style: hidden;
}

#menu td {
    cursor: pointer;
    font-size: 16px;
    color: blue;
    text-decoration: underline;
    border: 1px solid black;
    padding: 5px;
}

#option {
    margin: 10px; margin-top: 0;
}

#outside-frame {
    width: min-content; height: min-content;
    padding-right: 4px; padding-bottom: 4px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

#inner-frame {
    width: min-content; height: min-content;
    padding-left: 4px; padding-top: 4px;
}

.light-frame {
    background-color: rgb(236, 236, 236);
}

.dark-frame {
    background-color: gray;
}

#game-container {
    width: min-content;
    padding: 8px;
    background-color: lightgray;
}

#function-box {
    display: flex;
    align-items: center; justify-content: space-around;
    width: calc(var(--gridTemplateColumns) * 20px); height: 48px;
    font-size: 0;
    background-color: lightgray;
}

#restmineNum, #timer {
    width: 51px;
    height: 32px;
}

.digit {
    background-repeat: no-repeat;
    background: url("./img/digits.png");
    background-position: calc(var(--bgPosition) * -18px) 0;
    width: 17px;
    height: 32px;
}

#bar {
    height: 8px;
    margin: 0;
    background-color: lightgray;
}

#grid {
    display: grid;
    gap: 0;
    grid-template-rows: repeat(var(--gridTemplateRows), 20px);
    grid-template-columns: repeat(var(--gridTemplateColumns), 20px);
    height: min-content; width: min-content;
    background-color: lightgray;
}

#grid > img, #function-box > img {
    background-repeat: no-repeat;
    background-size: 20px;
    width: 20px;
    height: 20px;
}

#score {
    margin-top: 15px;
    font-size: 18px; font-weight: bold;
    text-align: left;
}

#score > ul {
    list-style-type: none;
    overflow: hidden;
    font-size: 16px; font-weight: normal;
    padding-left: 0;
    margin: 0;
}

#score > ul > li {
    display:inline-block;
    vertical-align: top;
    text-align: right;
    width: 120px;
}

#scoreHead {
    text-align: center;
}

#score > ul > li > ul {
    list-style-type: none;
    padding-left: 0;
    margin-right: 30px;
    counter-reset: scoreCounter;
}

#score > ul > li > ul > li::before {
    counter-increment: scoreCounter;
    content: counter(scoreCounter) ".";
    position: absolute;
    right: 58px;
    width: 32px;
}

#score > ul > li > ul > li {
    position: relative;
}